<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.miwth.allure_spa">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DuAn1"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.views.chat.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".ui.views.home.fragment.profile.UserDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.views.cart.CartActivity"
            android:exported="false" />
        <activity
            android:name=".ui.views.payment.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.views.rating.RatingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.views.treatment.booking.BookingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.views.auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.views.auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.views.treatment.TreatmentDetails"
            android:exported="false" />
        <activity
            android:name=".ui.views.cosmetic.CosmeticDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.views.SeeMoreActivity"
            android:exported="false" />
        <activity
            android:name=".ui.views.WebviewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.views.home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.views.auth.VerifyOTPActivity"
            android:exported="false" />
        <activity
            android:name=".ui.views.auth.SendOTPActivity"
            android:exported="false" />
        <activity
            android:name=".ui.views.welcome.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.views.welcome.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.views.home.fragment.profile.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.DuAn1.CustomSplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo_without_text" />

            <service android:name=".api.PusherService" />
    </application>

</manifest>